* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 20px;
}

#top {
    display: flex;
    justify-content: space-between;
}

#top button {
    padding: 10px 20px;
    font-size: 20px;
}

#heading {
    text-align: center;
    margin-top: 20px;
}

#line {
    margin-top: 100px;
    width: 100%;
    height: 5px;
    background-color: white;
    position: relative;
}

#question-box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bottom {
    display: flex;
    width: 100%;
    height: 60%;
}

#left,
#right {
    flex: 1;
    /* border: 5px solid red; */
}

#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left input {
    height: 60px;
    font-size: 30px;
    width: 100px;
    padding: 0px 30px;
}

#left button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
}

#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 20px;
}